In [22]:
pip install pystac-client

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pystac-client in /usr/local/lib/python3.8/dist-packages (0.5.1)
Requirement already satisfied: pystac>=1.4.0 in /usr/local/lib/python3.8/dist-packages (from pystac-client) (1.6.1)
Requirement already satisfied: python-dateutil>=2.7.0 in /usr/local/lib/python3.8/dist-packages (from pystac-client) (2.8.2)
Requirement already satisfied: requests>=2.27.1 in /usr/local/lib/python3.8/dist-packages (from pystac-client) (2.28.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.0->pystac-client) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.27.1->pystac-client) (1.24.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.27.1->pystac-client) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.27.1->pystac-client) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.27.1->pystac-client) (2022.12.7)

In [23]:
import pystac_client

In [24]:
pip install planetary-computer

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: planetary-computer in /usr/local/lib/python3.8/dist-packages (0.4.9)
Requirement already satisfied: click>=7.1 in /usr/local/lib/python3.8/dist-packages (from planetary-computer) (7.1.2)
Requirement already satisfied: pytz>=2020.5 in /usr/local/lib/python3.8/dist-packages (from planetary-computer) (2022.7)
Requirement already satisfied: requests>=2.25.1 in /usr/local/lib/python3.8/dist-packages (from planetary-computer) (2.28.1)
Requirement already satisfied: pystac-client>=0.2.0 in /usr/local/lib/python3.8/dist-packages (from planetary-computer) (0.5.1)
Requirement already satisfied: pydantic[dotenv]>=1.7.3 in /usr/local/lib/python3.8/dist-packages (from planetary-computer) (1.10.2)
Requirement already satisfied: pystac>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from planetary-computer) (1.6.1)
Requirement already satisfied: typing-extensions>=4.1.0 in /usr/local/lib/python3.8/dist-packages (from pydantic[dotenv]>=1.7.3->planetary-computer) (4.4.0)
Requirement already satisfied: python-dotenv>=0.10.4 in /usr/local/lib/python3.8/dist-packages (from pydantic[dotenv]>=1.7.3->planetary-computer) (0.21.0)
Requirement already satisfied: python-dateutil>=2.7.0 in /usr/local/lib/python3.8/dist-packages (from pystac>=1.0.0->planetary-computer) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.25.1->planetary-computer) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.25.1->planetary-computer) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.25.1->planetary-computer) (1.24.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.25.1->planetary-computer) (2.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.0->pystac>=1.0.0->planetary-computer) (1.15.0)

In [25]:
import planetary_computer

In [26]:
catalog = pystac_client.Client.open(
    "https://planetarycomputer.microsoft.com/api/stac/v1",
    modifier=planetary_computer.sign_inplace,
)

In [27]:
search = catalog.search(collections=["eclipse"], datetime="2022-03-01")
items = search.get_all_items()
print(f"Found {len(items)} item")
item = items[0]
item

Found 1 item

In [28]:
asset = item.assets["data"]

In [29]:
pip install adlfs

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: adlfs in /usr/local/lib/python3.8/dist-packages (2022.11.2)
Requirement already satisfied: azure-core<2.0.0,>=1.23.1 in /usr/local/lib/python3.8/dist-packages (from adlfs) (1.26.1)
Requirement already satisfied: azure-identity in /usr/local/lib/python3.8/dist-packages (from adlfs) (1.12.0)
Requirement already satisfied: azure-storage-blob>=12.12.0 in /usr/local/lib/python3.8/dist-packages (from adlfs) (12.14.1)
Requirement already satisfied: fsspec>=2021.10.1 in /usr/local/lib/python3.8/dist-packages (from adlfs) (2022.11.0)
Requirement already satisfied: azure-datalake-store<0.1,>=0.0.46 in /usr/local/lib/python3.8/dist-packages (from adlfs) (0.0.52)
Requirement already satisfied: aiohttp>=3.7.0 in /usr/local/lib/python3.8/dist-packages (from adlfs) (3.8.3)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.8/dist-packages (from aiohttp>=3.7.0->adlfs) (1.3.3)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.8/dist-packages (from aiohttp>=3.7.0->adlfs) (4.0.2)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.8/dist-packages (from aiohttp>=3.7.0->adlfs) (6.0.3)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp>=3.7.0->adlfs) (1.8.2)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp>=3.7.0->adlfs) (2.1.1)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.8/dist-packages (from aiohttp>=3.7.0->adlfs) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp>=3.7.0->adlfs) (22.2.0)
Requirement already satisfied: requests>=2.18.4 in /usr/local/lib/python3.8/dist-packages (from azure-core<2.0.0,>=1.23.1->adlfs) (2.28.1)
Requirement already satisfied: six>=1.11.0 in /usr/local/lib/python3.8/dist-packages (from azure-core<2.0.0,>=1.23.1->adlfs) (1.15.0)
Requirement already satisfied: typing-extensions>=4.0.1 in /usr/local/lib/python3.8/dist-packages (from azure-core<2.0.0,>=1.23.1->adlfs) (4.4.0)
Requirement already satisfied: cffi in /usr/local/lib/python3.8/dist-packages (from azure-datalake-store<0.1,>=0.0.46->adlfs) (1.15.1)
Requirement already satisfied: adal>=0.4.2 in /usr/local/lib/python3.8/dist-packages (from azure-datalake-store<0.1,>=0.0.46->adlfs) (1.2.7)
Requirement already satisfied: cryptography>=2.1.4 in /usr/local/lib/python3.8/dist-packages (from azure-storage-blob>=12.12.0->adlfs) (39.0.0)
Requirement already satisfied: msrest>=0.7.1 in /usr/local/lib/python3.8/dist-packages (from azure-storage-blob>=12.12.0->adlfs) (0.7.1)
Requirement already satisfied: msal-extensions<2.0.0,>=0.3.0 in /usr/local/lib/python3.8/dist-packages (from azure-identity->adlfs) (1.0.0)
Requirement already satisfied: msal<2.0.0,>=1.12.0 in /usr/local/lib/python3.8/dist-packages (from azure-identity->adlfs) (1.20.0)
Requirement already satisfied: PyJWT<3,>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from adal>=0.4.2->azure-datalake-store<0.1,>=0.0.46->adlfs) (2.6.0)
Requirement already satisfied: python-dateutil<3,>=2.1.0 in /usr/local/lib/python3.8/dist-packages (from adal>=0.4.2->azure-datalake-store<0.1,>=0.0.46->adlfs) (2.8.2)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi->azure-datalake-store<0.1,>=0.0.46->adlfs) (2.21)
Requirement already satisfied: portalocker<3,>=1.0 in /usr/local/lib/python3.8/dist-packages (from msal-extensions<2.0.0,>=0.3.0->azure-identity->adlfs) (2.6.0)
Requirement already satisfied: isodate>=0.6.0 in /usr/local/lib/python3.8/dist-packages (from msrest>=0.7.1->azure-storage-blob>=12.12.0->adlfs) (0.6.1)
Requirement already satisfied: requests-oauthlib>=0.5.0 in /usr/local/lib/python3.8/dist-packages (from msrest>=0.7.1->azure-storage-blob>=12.12.0->adlfs) (1.3.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from msrest>=0.7.1->azure-storage-blob>=12.12.0->adlfs) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.18.4->azure-core<2.0.0,>=1.23.1->adlfs) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.18.4->azure-core<2.0.0,>=1.23.1->adlfs) (2.10)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.8/dist-packages (from requests-oauthlib>=0.5.0->msrest>=0.7.1->azure-storage-blob>=12.12.0->adlfs) (3.2.2)

In [32]:
import pandas as pd 
df = pd.read_parquet(
    asset.href, storage_options=asset.extra_fields["table:storage_options"]
)
df

,City,DeviceId,LocationName,Latitude,Longitude,ReadingDateTimeUTC,PM25,CalibratedPM25,CalibratedO3,CalibratedNO2,CO,Temperature,Humidity,BatteryLevel,PercentBattery,CellSignal
0,Chicago,2002,State & Garfield (SB),41.794921,-87.625857,2022-02-27 00:04:04,9.126071,10.79,17.53,10.49,0.105193,-0.526352,59.703064,4.143906,91.634804,-83.0
1,Chicago,2002,State & Garfield (SB),41.794921,-87.625857,2022-02-27 00:09:14,10.927937,11.83,15.72,8.46,0.114015,-0.649185,60.223389,4.142812,91.634804,-80.0
2,Chicago,2002,State & Garfield (SB),41.794921,-87.625857,2022-02-27 00:14:24,10.395282,11.38,18.29,5.25,0.096386,-0.627823,60.884094,4.141094,91.634804,-82.0
3,Chicago,2002,State & Garfield (SB),41.794921,-87.625857,2022-02-27 00:19:33,9.431242,10.85,15.11,8.53,0.119355,-0.809402,61.984253,4.142969,91.385475,-81.0
4,Chicago,2002,State & Garfield (SB),41.794921,-87.625857,2022-02-27 00:24:44,9.648221,11.05,12.29,9.92,0.125682,-0.809402,62.377930,4.142344,91.385475,-82.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189055,Chicago,2214,EPA COM ED Maintenance Bldg F,41.751200,-87.713490,2022-03-05 22:33:08,0.747107,8.43,14.76,13.74,0.285773,19.898682,53.863525,4.184062,89.785156,-110.0
189056,Chicago,2214,EPA COM ED Maintenance Bldg F,41.751200,-87.713490,2022-03-05 22:53:22,0.733524,10.31,14.37,20.18,1.288297,20.149689,54.324341,4.187969,89.785156,-111.0
189057,Chicago,2214,EPA COM ED Maintenance Bldg F,41.751200,-87.713490,2022-03-05 23:13:37,0.000000,10.31,15.69,17.94,2.921081,20.024185,53.430176,4.188281,89.785156,-111.0
189058,Chicago,2214,EPA COM ED Maintenance Bldg F,41.751200,-87.713490,2022-03-05 23:33:57,3.208157,11.90,14.00,20.47,0.784464,20.149689,53.668213,4.183750,89.785156,-109.0
189059,Chicago,2214,EPA COM ED Maintenance Bldg F,41.751200,-87.713490,2022-03-05 23:54:09,0.000000,8.38,13.44,16.40,0.331082,20.299225,53.356934,4.184219,89.683594,-110.0

In [33]:
gfg_csv_data = df.to_csv(r'C:\Users\eugenie\Desktop\full_airquality_dataframe.csv')

trying to get average readings across the course of a day 

---

per sensor

In [34]:
import pandas as pd

df['Dates'] = pd.to_datetime(df['ReadingDateTimeUTC']).dt.date
df['Time'] = pd.to_datetime(df['ReadingDateTimeUTC']).dt.time

df.drop(['City','ReadingDateTimeUTC'],axis=1)

,DeviceId,LocationName,Latitude,Longitude,PM25,CalibratedPM25,CalibratedO3,CalibratedNO2,CO,Temperature,Humidity,BatteryLevel,PercentBattery,CellSignal,Dates,Time
0,2002,State & Garfield (SB),41.794921,-87.625857,9.126071,10.79,17.53,10.49,0.105193,-0.526352,59.703064,4.143906,91.634804,-83.0,2022-02-27,00:04:04
1,2002,State & Garfield (SB),41.794921,-87.625857,10.927937,11.83,15.72,8.46,0.114015,-0.649185,60.223389,4.142812,91.634804,-80.0,2022-02-27,00:09:14
2,2002,State & Garfield (SB),41.794921,-87.625857,10.395282,11.38,18.29,5.25,0.096386,-0.627823,60.884094,4.141094,91.634804,-82.0,2022-02-27,00:14:24
3,2002,State & Garfield (SB),41.794921,-87.625857,9.431242,10.85,15.11,8.53,0.119355,-0.809402,61.984253,4.142969,91.385475,-81.0,2022-02-27,00:19:33
4,2002,State & Garfield (SB),41.794921,-87.625857,9.648221,11.05,12.29,9.92,0.125682,-0.809402,62.377930,4.142344,91.385475,-82.0,2022-02-27,00:24:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189055,2214,EPA COM ED Maintenance Bldg F,41.751200,-87.713490,0.747107,8.43,14.76,13.74,0.285773,19.898682,53.863525,4.184062,89.785156,-110.0,2022-03-05,22:33:08
189056,2214,EPA COM ED Maintenance Bldg F,41.751200,-87.713490,0.733524,10.31,14.37,20.18,1.288297,20.149689,54.324341,4.187969,89.785156,-111.0,2022-03-05,22:53:22
189057,2214,EPA COM ED Maintenance Bldg F,41.751200,-87.713490,0.000000,10.31,15.69,17.94,2.921081,20.024185,53.430176,4.188281,89.785156,-111.0,2022-03-05,23:13:37
189058,2214,EPA COM ED Maintenance Bldg F,41.751200,-87.713490,3.208157,11.90,14.00,20.47,0.784464,20.149689,53.668213,4.183750,89.785156,-109.0,2022-03-05,23:33:57
189059,2214,EPA COM ED Maintenance Bldg F,41.751200,-87.713490,0.000000,8.38,13.44,16.40,0.331082,20.299225,53.356934,4.184219,89.683594,-110.0,2022-03-05,23:54:09

In [35]:
groupedbydevice = df.groupby(['DeviceId', 'Dates'])

groupedbydevice.first()

                        City                   LocationName   Latitude  \
DeviceId Dates
2002     2022-02-27  Chicago          State & Garfield (SB)  41.794921
         2022-02-28  Chicago          State & Garfield (SB)  41.794921
         2022-03-01  Chicago          State & Garfield (SB)  41.794921
         2022-03-02  Chicago          State & Garfield (SB)  41.794921
         2022-03-03  Chicago          State & Garfield (SB)  41.794921
...                      ...                            ...        ...
2213     2022-03-04  Chicago                   EPA Cicero C  41.855243
         2022-03-05  Chicago                   EPA Cicero C  41.855243
2214     2022-03-03  Chicago  EPA COM ED Maintenance Bldg F  41.751200
         2022-03-04  Chicago  EPA COM ED Maintenance Bldg F  41.751200
         2022-03-05  Chicago  EPA COM ED Maintenance Bldg F  41.751200

                     Longitude  ReadingDateTimeUTC       PM25  CalibratedPM25  \
DeviceId Dates
2002     2022-02-27 -87.625857 2022-02-27 00:04:04   9.126071           10.79
         2022-02-28 -87.625857 2022-02-28 00:01:31   6.330436           10.84
         2022-03-01 -87.625857 2022-03-01 00:03:42   8.031988           10.46
         2022-03-02 -87.625857 2022-03-02 00:01:13  23.468672           18.17
         2022-03-03 -87.625857 2022-03-03 00:04:39  18.667089           15.24
...                        ...                 ...        ...             ...
2213     2022-03-04 -87.752470 2022-03-04 00:19:42   0.589639            7.86
         2022-03-05 -87.752470 2022-03-05 00:17:41   0.000000            7.69
2214     2022-03-03 -87.713490 2022-03-03 22:38:07   0.000000           10.30
         2022-03-04 -87.713490 2022-03-04 00:00:08   4.691417           13.53
         2022-03-05 -87.713490 2022-03-05 00:10:42   0.000000            7.90

                     CalibratedO3  CalibratedNO2         CO  Temperature  \
DeviceId Dates
2002     2022-02-27         17.53          10.49   0.105193    -0.526352
         2022-02-28         13.06          23.75   0.234048     1.818161
         2022-03-01         15.27          18.49   0.162199    10.045319
         2022-03-02         19.79          21.15   0.232786     3.385620
         2022-03-03         22.81          13.56   0.125545     7.839661
...                           ...            ...        ...          ...
2213     2022-03-04         10.53          14.33   0.258340    20.435410
         2022-03-05         16.07          11.83   0.229970    19.821243
2214     2022-03-03         27.80          27.70  11.427295    22.040253
         2022-03-04          1.28          25.28   0.557735    20.801239
         2022-03-05         11.79          13.50   0.260621    19.578247

                      Humidity  BatteryLevel  PercentBattery  CellSignal  \
DeviceId Dates
2002     2022-02-27  59.703064      4.143906       91.634804       -83.0
         2022-02-28  54.244995      4.172344       94.182182       -81.0
         2022-03-01  46.189880      4.204531       97.074471       -82.0
         2022-03-02  75.500488      4.208594       97.519112       -79.0
         2022-03-03  60.870361      4.216719       98.184006       -79.0
...                        ...           ...             ...         ...
2213     2022-03-04  51.081848      3.886562       56.691406      -109.0
         2022-03-05  55.012512      4.200313       90.937500         0.0
2214     2022-03-03  44.807434      3.950156       69.015625      -111.0
         2022-03-04  50.354004      4.034375       73.589844         0.0
         2022-03-05  55.305481      4.187187       89.785156      -112.0

                         Time
DeviceId Dates
2002     2022-02-27  00:04:04
         2022-02-28  00:01:31
         2022-03-01  00:03:42
         2022-03-02  00:01:13
         2022-03-03  00:04:39
...                       ...
2213     2022-03-04  00:19:42
         2022-03-05  00:17:41
2214     2022-03-03  22:38:07
         2022-03-04  00:00:08
         2022-03-05  00:10:42

[705 rows x 16 columns]

In [36]:
# only keeping highest values recorded by each sensor 

device = df.sort_values(by=['DeviceId'])

df2 = device.sort_values(by=['PM25'], ascending=False)
robyn = df2.groupby(['DeviceId']).first()

robyn

,City,LocationName,Latitude,Longitude,ReadingDateTimeUTC,PM25,CalibratedPM25,CalibratedO3,CalibratedNO2,CO,Temperature,Humidity,BatteryLevel,PercentBattery,CellSignal,Dates,Time
DeviceId,,,,,,,,,,,,,,,,,
2002,Chicago,State & Garfield (SB),41.794921,-87.625857,2022-02-27 17:17:58,59.697807,24.74,22.16,10.13,0.080560,9.084015,34.025574,4.156406,92.133476,-80.0,2022-02-27,17:17:58
2003,Chicago,State & Garfield (NB),41.795500,-87.625500,2022-02-27 11:45:31,82.346642,23.66,25.09,11.95,0.137432,-2.147217,73.043823,4.094687,92.919357,-77.0,2022-02-27,11:45:31
2004,Chicago,California & 26th (SB),41.845100,-87.695204,2022-02-28 23:03:28,142.783981,29.10,12.38,24.46,0.350584,10.491257,45.942688,3.988906,79.527695,-95.0,2022-02-28,23:03:28
2005,Chicago,California & Cermak (SB),41.852400,-87.695200,2022-03-04 19:14:30,107.616081,24.87,29.25,15.47,0.160176,9.759598,36.796570,3.807969,40.498047,-92.0,2022-03-04,19:14:30
2006,Chicago,California & Cermak (NB),41.852300,-87.695400,2022-02-28 10:56:06,91.074814,27.70,27.92,21.29,0.306357,-0.841446,69.288635,3.781250,35.125870,-78.0,2022-02-28,10:56:06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2197,Chicago,EPA Cicero B,41.855243,-87.752470,2022-03-05 16:10:24,4.778116,13.37,17.92,10.68,0.615903,18.659668,55.564880,4.217813,92.292969,-110.0,2022-03-05,16:10:24
2207,Chicago,State & 83rd (NB),41.743500,-87.624200,2022-02-28 02:25:00,100.872566,30.66,14.26,35.95,0.778377,-0.705261,59.230042,4.115781,83.089844,-85.0,2022-02-28,02:25:00
2212,Chicago,EPA Springfield Pump Station E,41.912739,-87.722673,2022-03-02 00:31:18,29.490681,22.88,25.22,20.48,0.191582,2.493744,69.979858,4.154219,86.957031,-86.0,2022-03-02,00:31:18
2213,Chicago,EPA Cicero C,41.855243,-87.752470,2022-03-05 02:40:47,8.042785,17.04,13.64,24.76,0.734578,20.069580,56.007385,4.200781,90.937500,-109.0,2022-03-05,02:40:47
2214,Chicago,EPA COM ED Maintenance Bldg F,41.751200,-87.713490,2022-03-05 13:04:56,9.410824,12.91,16.35,15.36,0.282564,19.022827,55.021667,4.188906,89.785156,-110.0,2022-03-05,13:04:56

In [37]:
gfg_csv_data = robyn.to_csv(r'C:\Users\eugenie\Desktop\robyn_dataframe.csv')

In [38]:
# just keeping coordinates and PM2.5 levels
df2 = df[['DeviceId','LocationName','Latitude','Longitude','PM25']]
df2

,DeviceId,LocationName,Latitude,Longitude,PM25
0,2002,State & Garfield (SB),41.794921,-87.625857,9.126071
1,2002,State & Garfield (SB),41.794921,-87.625857,10.927937
2,2002,State & Garfield (SB),41.794921,-87.625857,10.395282
3,2002,State & Garfield (SB),41.794921,-87.625857,9.431242
4,2002,State & Garfield (SB),41.794921,-87.625857,9.648221
...,...,...,...,...,...
189055,2214,EPA COM ED Maintenance Bldg F,41.751200,-87.713490,0.747107
189056,2214,EPA COM ED Maintenance Bldg F,41.751200,-87.713490,0.733524
189057,2214,EPA COM ED Maintenance Bldg F,41.751200,-87.713490,0.000000
189058,2214,EPA COM ED Maintenance Bldg F,41.751200,-87.713490,3.208157
189059,2214,EPA COM ED Maintenance Bldg F,41.751200,-87.713490,0.000000

In [39]:
df3 = df2.drop_duplicates(subset=['Latitude'],keep='first')
df3

,DeviceId,LocationName,Latitude,Longitude,PM25
0,2002,State & Garfield (SB),41.794921,-87.625857,9.126071
1946,2003,State & Garfield (NB),41.795500,-87.625500,11.138612
3886,2004,California & 26th (SB),41.845100,-87.695204,9.316466
5825,2005,California & Cermak (SB),41.852400,-87.695200,13.189043
7351,2006,California & Cermak (NB),41.852300,-87.695400,14.981331
...,...,...,...,...,...
182868,2191,Belmont & Western (WB),41.939568,-87.688703,9.573463
184822,2197,EPA Cicero B,41.855243,-87.752470,4.573960
184961,2207,State & 83rd (NB),41.743500,-87.624200,8.196592
186896,2212,EPA Springfield Pump Station E,41.912739,-87.722673,10.273903
188975,2214,EPA COM ED Maintenance Bldg F,41.751200,-87.713490,0.000000

In [40]:
df3[['DeviceId','LocationName','Latitude','Longitude']]

        DeviceId                    LocationName   Latitude  Longitude
0           2002           State & Garfield (SB)  41.794921 -87.625857
1946        2003           State & Garfield (NB)  41.795500 -87.625500
3886        2004          California & 26th (SB)  41.845100 -87.695204
5825        2005        California & Cermak (SB)  41.852400 -87.695200
7351        2006        California & Cermak (NB)  41.852300 -87.695400
...          ...                             ...        ...        ...
182868      2191          Belmont & Western (WB)  41.939568 -87.688703
184822      2197                    EPA Cicero B  41.855243 -87.752470
184961      2207               State & 83rd (NB)  41.743500 -87.624200
186896      2212  EPA Springfield Pump Station E  41.912739 -87.722673
188975      2214   EPA COM ED Maintenance Bldg F  41.751200 -87.713490

[108 rows x 4 columns]

In [41]:
# downloading .csv file
gfg_csv_data = df3.to_csv(r'C:\Users\eugenie\Desktop\export_dataframe.csv')